.profile__form__purpose {
    padding-top: 22px;
}

.profile__desc__text {
    margin-bottom: 39px;
    color: #000;
    font-family: Oswald;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    text-transform: uppercase;
}

.profile__form__data__list {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    list-style-type: none;
    color: var(--special_dark-grey, #444);
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    text-transform: uppercase;
}

.profile__form__data__item {
    display: flex;
    margin-bottom: 14px;
    label {
        margin-right: 12px;
        max-width: 118px;
        white-space: nowrap;
        align-self: center;
    }
    input {
        width: 100%;
        height: 45px;
        align-self: flex-end;
        padding-left: 16px;
    }
}

.profile__form__purpose__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: var(--special_dark-grey-2, #222);
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    text-transform: uppercase;
}

.type-radio {
    width: 30px;
    height: 30px;
    margin-right: 16px;
}

.profile__form__purpose__item {
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-bottom: 13px;
}

.profile__form-contacts__title {
    margin-top: 26px;
    margin-bottom: 35px;
    color: #000;
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.profile__form-contacts__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.profile__form-contacts__item {
    display: flex;
    position: relative;
    color: var(--special_dark-grey, #444);
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    text-transform: uppercase;
    input {
        height: 45px;
        margin-bottom: 14px;
        padding-left: 15px;
        width: 100%;
        align-self: flex-end;
    }
}

.profile__form-contacts__label__e-mail {
    margin-right: 11px;
    white-space: nowrap;
    align-self: center;
}

.profile__form-contacts__label__phone {
    margin-right: 8px;
    align-self: center;
}

.icon-email {
    position: absolute;
    right: 15px;
    top: 16px;
}

.icon-phone {
    position: absolute;
    right: 12px;
    top: 13px;
}


.profile__form__comments__title {
    margin-top: 10px;
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}

.comments {
    height: 150px;
    width: 100%;
    padding-top: 9px;
    padding-left: 15px;
    color: var(--special_dark-grey, #444);
    font-family: Oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    text-transform: uppercase;
}

.profile__form__preferably__title {
    margin-top: 23px;
    margin-bottom: 36px;
    white-space: nowrap;
    color: #000;
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.profile__form__preferably__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.profile__form__preferably__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    input {
        width: 26px;
        height: 26px;
        margin-right: 16px;
        align-self: center;
    }
    label {
        color: #000;
        font-family: Oswald;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
    }
}

.profile__form__button {
    margin-top: 19px;
    width: 100%;
    height: 40px;
    margin-bottom: 21px;
}

.profile__form__button__explain {
    margin-bottom: 32px;
    color: #000;
    margin-left: 42px;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}